
.gallery
{
	display: flex;
	justify-content: center;
}
.button-left,
.button-right
{
	width: 0px;
	height: 100px;
	margin: 5px;
	border-left: 50px solid #000;
	border-radius: 50px;
}
.button-right
{
	border-left: none;
	border-right: 50px solid #000;
	border-radius: 50px;
}
.control-image-right,
.control-image-left
{
	position: fixed;
	top: 50%;
}
.control-image-left
{
	left: 20px;
}
.control-image-right
{
	right: 20px;
}

.button-left:hover
{
	border-left: 50px solid #777;
}
.button-right:hover
{
	border-right: 50px solid #777;
}
.image-box
{
	width: 200px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
	border-bottom: 2px solid #555;
	box-shadow: 1px 3px 4px #777,
		-1px 3px 4px #777;
}
.view-image
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(130, 130, 130, .8);
	width: 100vw;
	height: 100vh;
}
.logo-loading
{
	position: absolute;
	z-index: 100;
	top: calc(50% - 400px);
	left: calc(50% - 400px);
	width: 800px;
	height: 800px;
	background: url(image/loading.gif) center center no-repeat;
	/*background-color: rgba(130, 130, 130, .8);*/
}

.hidden
{
	display: none;
}